.WeatherForecast {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.WeatherForecast img {
    max-height: 50px;
}

.WeatherForecast .separator {
margin-bottom: 10px;
font-weight: 300;
}